@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #653B30, #44271F);
}

main {
    background-color: white;
    width: 600px;
    box-shadow: 5px 5px 15px #653B30;
    padding: 7px;
    margin: auto;
    border-radius: 10px;
}

h1 {
    color: #bead91;
    text-align: center;
    text-shadow: 1px 1px 2px #bead91;
}

h2 {
    color: #c74334;
}

p {
    text-align: justify;
}